In [2]:
import pandas as pd

In [3]:
data01 = pd.read_csv("../original-data/Walmart.csv", nrows=30)

In [4]:
data01

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
7,1,26-03-2010,1404429.92,0,51.45,2.732,211.018042,8.106
8,1,02-04-2010,1594968.28,0,62.27,2.719,210.820450,7.808
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808
10,1,16-04-2010,1466058.28,0,66.32,2.808,210.488700,7.808
11,1,23-04-2010,1391256.12,0,64.84,2.795,210.439123,7.808
12,1,30-04-2010,1425100.71,0,67.41,2.780,210.389546,7.808
13,1,07-05-2010,1603955.12,0,72.55,2.835,210.339968,7.808
14,1,14-05-2010,1494251.50,0,74.78,2.854,210.337426,7.808
15,1,21-05-2010,1399662.07,0,76.44,2.826,210.617093,7.808
16,1,28-05-2010,1432069.95,0,80.44,2.759,210.896761,7.808
17,1,04-06-2010,1615524.71,0,80.69,2.705,211.176428,7.808
18,1,11-06-2010,1542561.09,0,80.43,2.668,211.456095,7.808
19,1,18-06-2010,1503284.06,0,84.11,2.637,211.453772,7.808
20,1,25-06-2010,1422711.60,0,84.34,2.653,211.338653,7.808
21,1,02-07-2010,1492418.14,0,80.91,2.669,211.223533,7.787
22,1,09-07-2010,1546074.18,0,80.48,2.642,211.108414,7.787
23,1,16-07-2010,1448938.92,0,83.15,2.623,211.100385,7.787
24,1,23-07-2010,1385065.20,0,83.36,2.608,211.235144,7.787
25,1,30-07-2010,1371986.60,0,81.84,2.640,211.369903,7.787
26,1,06-08-2010,1605491.78,0,87.16,2.627,211.504662,7.787
27,1,13-08-2010,1508237.76,0,87.00,2.692,211.639421,7.787
28,1,20-08-2010,1513080.49,0,86.65,2.664,211.603363,7.787
29,1,27-08-2010,1449142.92,0,85.22,2.619,211.567306,7.787

In [5]:
data01.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')