In [ ]:
# get data about unemployment
# I want a table with a time series of unemployment
# there is also the IMF data with the unemployment rate

# https://pypi.org/project/ipeadatapy/

In [ ]:
# http://www.ipeadata.gov.br/Default.aspx
# https://github.com/luanborelli/ipeadatapy
# let's try to follow the example notebook
# https://github.com/luanborelli/ipeadatapy/blob/master/notebooks/Ipeadatapy%20Usage%20Demonstration.ipynb

In [1]:
import ipeadatapy
ipeadatapy.list_series()

              CODE                                               NAME
0     ABATE_ABPEAV                   Abate - aves - peso das carcaças
1     ABATE_ABPEBV                Abate - bovinos - peso das carcaças
2     ABATE_ABPESU                 Abate - suínos - peso das carcaças
3     ABATE_ABQUAV                          Abate - aves - quantidade
4     ABATE_ABQUBV                       Abate - bovinos - quantidade
...            ...                                                ...
9597        PIBSCE  PIB Estadual (valor adicionado a preços básico...
9598         PIBSE  PIB Municipal (valor adicionado a preços básic...
9599        PIBSEE  PIB Estadual (valor adicionado a preços básico...
9600        PIBTAE  PIB Estadual (valor adicionado a preços básico...
9601       PIBVRAE  PIB Estadual - preços de mercado -  variação a...

[9602 rows x 2 columns]

In [2]:
df01 = ipeadatapy.list_series("desemprego")

In [3]:
df01.head()

                CODE                                    NAME
5820  ECONMI12_ALU12  taxa de desemprego - força de trabalho
5826  ECONMI12_CAU12  taxa de desemprego - força de trabalho
5837  ECONMI12_FRU12  taxa de desemprego - força de trabalho
5842  ECONMI12_ITU12  taxa de desemprego - força de trabalho
5849  ECONMI12_JPU12  taxa de desemprego - força de trabalho

In [5]:
df01.shape

(54, 2)

In [ ]:

#             CODE                                               NAME
#   ECONMI12_ALU12             taxa de desemprego - força de trabalho
#   ECONMI12_CAU12             taxa de desemprego - força de trabalho
#   ECONMI12_FRU12             taxa de desemprego - força de trabalho
#   ECONMI12_ITU12             taxa de desemprego - força de trabalho
#   ECONMI12_JPU12             taxa de desemprego - força de trabalho
#   ECONMI12_UKU12             taxa de desemprego - força de trabalho
#   ECONMI12_USU12             taxa de desemprego - força de trabalho
#  WEO_DESEMWEOARG                                 taxa de desemprego
#  WEO_DESEMWEOBRA                        Brasil - taxa de desemprego
#  WEO_DESEMWEOCAN                                 taxa de desemprego
#  WEO_DESEMWEOCHL                                 taxa de desemprego
#  WEO_DESEMWEOCHN                                 taxa de desemprego
#  WEO_DESEMWEOCOL                                 taxa de desemprego
#  WEO_DESEMWEODEU                                 taxa de desemprego
#  WEO_DESEMWEOEGY                                 taxa de desemprego
#  WEO_DESEMWEOESP                                 taxa de desemprego
#  WEO_DESEMWEOFRA                                 taxa de desemprego
#  WEO_DESEMWEOGBR                                 taxa de desemprego
#  WEO_DESEMWEOIDN                                 taxa de desemprego
#  WEO_DESEMWEOITA                                 taxa de desemprego
#  WEO_DESEMWEOJPN                                 taxa de desemprego
#  WEO_DESEMWEOKOR                                 taxa de desemprego
#  WEO_DESEMWEOMEX                                 taxa de desemprego
#  WEO_DESEMWEOMYS                                 taxa de desemprego
#  WEO_DESEMWEOPHL                                 taxa de desemprego
#  WEO_DESEMWEOPRT                                 taxa de desemprego
#  WEO_DESEMWEOPRY                                 taxa de desemprego
# WEO_DESEMWEOREER                                 taxa de desemprego
#  WEO_DESEMWEOSAU                                 taxa de desemprego
#  WEO_DESEMWEOTHA                                 taxa de desemprego
#  WEO_DESEMWEOTWN                                 taxa de desemprego
#  WEO_DESEMWEOURY                                 taxa de desemprego
#  WEO_DESEMWEOUSA                                 taxa de desemprego
#  WEO_DESEMWEOZAF                                 taxa de desemprego
#       DISOC_DESE                                 Taxa de desemprego
#   DISOC_DESEMETR          Taxa de desemprego - áreas metropolitanas
#   DISOC_DESENAOM      Taxa de desemprego - áreas não-metropolitanas
#   DISOC_DESERURA                  Taxa de desemprego - áreas rurais
#   DISOC_DESEURBA  Taxa de desemprego - áreas urbanas não-metropo...
#      PME12_TDA12  Taxa de desemprego - aberto - referência: 30 d...
#    PME12_TDESA12  Taxa de desemprego - aberto - referência: sema...
#      PMEN12_TD12     Taxa de desemprego - referência: 30 dias - RMs
#         PMETXDES     Taxa de desemprego - referência: 30 dias - RMs
# SEADE12_TDAGSP12                 Taxa de desemprego - aberto - RMSP
# SEADE12_TDODSP12     Taxa de desemprego - oculto - desalento - RMSP
# SEADE12_TDOPSP12      Taxa de desemprego - oculto - precário - RMSP
# SEADE12_TDOTSP12                 Taxa de desemprego - oculto - RMSP
# SEADE12_TDTGSP12                          Taxa de desemprego - RMSP
#           PAN_TD                                 Taxa de desemprego
#       PAN12_TD12                                 Taxa de desemprego
#         PAN4_TD4                                 Taxa de desemprego
# CNI12_INECDESP12  Expectativa do consumidor (INEC) - expectativa...
#   CNI4_INECDESP4  Expectativa do consumidor (INEC) - expectativa...
# CNI4_INECDESPDF4  Expectativa do consumidor (INEC) - expectativa...

In [4]:
ipeadatapy.describe("WEO_DESEMWEOBRA")

                                      Brasil - taxa de desemprego
Name                                  Brasil - taxa de desemprego
Code                                              WEO_DESEMWEOBRA
Big Theme                                          Macroeconômico
Theme code                                                     11
Source          Fundo Monetário Internacional, World Economic ...
Source acronym                                            FMI/WEO
Comment         Taxa de desemprego é o percentual de pessoas d...
Last update                         2023-05-31T13:06:00.043-03:00
Frequency                                                   Anual
Measure                                                       (%)
Unit                                                         None
Status                                                          A

In [5]:
df_raw_00 = ipeadatapy.timeseries("WEO_DESEMWEOBRA")

In [6]:
import polars

In [7]:
df00 = polars.from_pandas(df_raw_00)

In [10]:
type(df00)

polars.dataframe.frame.DataFrame

In [11]:
df00.head()

shape: (5, 6)
┌─────────────────┬───────────────────────────┬─────┬───────┬──────┬─────────────┐
│ CODE            ┆ RAW DATE                  ┆ DAY ┆ MONTH ┆ YEAR ┆ VALUE ((%)) │
│ ---             ┆ ---                       ┆ --- ┆ ---   ┆ ---  ┆ ---         │
│ str             ┆ str                       ┆ i32 ┆ i32   ┆ i32  ┆ f64         │
╞═════════════════╪═══════════════════════════╪═════╪═══════╪══════╪═════════════╡
│ WEO_DESEMWEOBRA ┆ 1991-01-01T00:00:00-02:00 ┆ 1   ┆ 1     ┆ 1991 ┆ 10.1        │
│ WEO_DESEMWEOBRA ┆ 1992-01-01T00:00:00-02:00 ┆ 1   ┆ 1     ┆ 1992 ┆ 11.6        │
│ WEO_DESEMWEOBRA ┆ 1993-01-01T00:00:00-02:00 ┆ 1   ┆ 1     ┆ 1993 ┆ 11.0        │
│ WEO_DESEMWEOBRA ┆ 1994-01-01T00:00:00-02:00 ┆ 1   ┆ 1     ┆ 1994 ┆ 10.5        │
│ WEO_DESEMWEOBRA ┆ 1995-01-01T00:00:00-02:00 ┆ 1   ┆ 1     ┆ 1995 ┆ 9.9         │
└─────────────────┴───────────────────────────┴─────┴───────┴──────┴─────────────┘

In [ ]:
# - Treat the data to include only the year and the unemployment rate
# - We can try to apply a simple linear regression with this data
# - We could use first scikit-learn and then statsmodel

In [12]:
df00.columns
# (["YEAR", "VALUE((%))"])

['CODE', 'RAW DATE', 'DAY', 'MONTH', 'YEAR', 'VALUE ((%))']

In [13]:
df01 = df00[["YEAR", "VALUE ((%))"]]

In [14]:
df01

shape: (32, 2)
┌──────┬─────────────┐
│ YEAR ┆ VALUE ((%)) │
│ ---  ┆ ---         │
│ i32  ┆ f64         │
╞══════╪═════════════╡
│ 1991 ┆ 10.1        │
│ 1992 ┆ 11.6        │
│ 1993 ┆ 11.0        │
│ 1994 ┆ 10.5        │
│ …    ┆ …           │
│ 2019 ┆ 11.1        │
│ 2020 ┆ 14.2        │
│ 2021 ┆ 11.1        │
│ 2022 ┆ 7.9         │
└──────┴─────────────┘

In [ ]:
# first we can try to run models on top of this single time series
# later we can:
# one alternative is to interpolate the annual data to get more fine grained data points
# another thing that we can do is try to find the unemployment rate more fine grained for example by quarter measure
# and later we can include other time series for example inflation