In [1]:
# https://www.udemy.com/course/learning-path-julia-explore-data-science-with-julia/learn/lecture/6792676?start=15#overview
# julia is a functional language

In [1]:
1 + 1

2

In [1]:
function sum(x,y,z)
    return x + y + z
    # the key word return is optional
    # the function will return the value of the last expression
end

sum (generic function with 1 method)

In [2]:
sum(1,2,3)

6

In [10]:
# julia functions are generic, in the sense that it works with many
# types of arguments
println(sum(2.1, 3.2, 4.3))
println(sum(true, false, true))

9.600000000000001
2

In [11]:
typeof(sum)

typeof(sum) (singleton type of function sum, subtype of Function)

In [12]:
# try to sum an integer, string and boolean
sum("Iris", 7, true)

LoadError: MethodError: no method matching +(::String, ::Int64)
Closest candidates are:
  +(::Any, ::Any, ::Any, ::Any...) at /opt/julia-1.7.2/share/julia/base/operators.jl:655
  +(::T, ::T) where T<:Union{Int128, Int16, Int32, Int64, Int8, UInt128, UInt16, UInt32, UInt64, UInt8} at /opt/julia-1.7.2/share/julia/base/int.jl:87
  +(::Base.TwicePrecision, ::Number) at /opt/julia-1.7.2/share/julia/base/twiceprecision.jl:279
  ...

In [2]:
Int64

Int64

In [6]:
# specifying types for arguments in functions
function sum(x::Int64, y::Int64, z::Int64)
    return x + y + z
end

# when the type do not match the arguments
# the function will give error
sum(1, 2, 3.2)

LoadError: MethodError: no method matching sum(::Int64, ::Int64, ::Float64)
Closest candidates are:
  sum(::Int64, ::Int64, ::Int64) at In[6]:2

In [8]:
# how to indicate to a function that we want to return a certain type?

# indicate an internal type for local variable
function sump(x::Int64, y::Int64, z::Int64)
    p::Int64 = x * y * z
    return x + y + z + p
end

sump (generic function with 1 method)

In [9]:
sump(1,2,3)

12

In [10]:
# how to pass many arguments to the function?
# like using spread in javascript or using *args in python?

function sumvar(args...)
    sum = 0
    for n in args
        sum += n
    end
    return sum
end

# ... is called the splat operator, it is similar in Go and JavaScript

sumvar (generic function with 1 method)

In [11]:
sumvar(1,1,1,1,1,2,2,1)

10

In [12]:
sumvar()

0

In [14]:
sumvar(2,3,4,100,-9)

100

In [21]:
# include optional arguments in functions
# in python they are called keyword arguments

# note that we include a ; after the keyword argument
function sum01(n1, n2, n3=5; n4=-9)
    return n1 + n2 + n3 + n4
end

sum01 (generic function with 2 methods)

In [23]:
sum01(2,3)

1

In [25]:
sum01(2,3,4)

0

In [26]:
sum01(2,3,4,n4=100)

109

In [28]:
sum02(x,y,z) -> x + y + z

LoadError: syntax: "sum02(x, y, z)" is not a valid function argument name around In[28]:1

In [ ]:
# anonymous function
# lambda expression

In [29]:
# 100 random uniform values between 0 and 1
arr = rand(100)

100-element Vector{Float64}:
 0.4083114547870098
 0.352843384642063
 0.0439655923336697
 0.714304220042709
 0.17834794164604106
 0.41280961531625415
 0.9715852996838584
 0.39372298857019983
 0.7608770753630288
 0.909661375318403
 0.44940105418329146
 0.2299991896854956
 0.7167616508715993
 ⋮
 0.022211765917892645
 0.22410650977670454
 0.6268412075935141
 0.007705902299679934
 0.13511479075119903
 0.7746747296564317
 0.004314969077057196
 0.6414101219625526
 0.3013630899404677
 0.023621086018340787
 0.5843140947470475
 0.5923592710912142

In [30]:
# square all the values from arr
arr2 = map(x -> x^2, arr)
# here we are using a lambda expression, or anonymous function
# map is a higher order function, because it can receive another function 
# as one of its arguments

100-element Vector{Float64}:
 0.16671824411028435
 0.12449845408566682
 0.001932973309250436
 0.5102305187708228
 0.03180798828937967
 0.17041177849755373
 0.943977994561773
 0.1550177917286497
 0.5789339238129962
 0.8274838177461684
 0.20196130750105368
 0.052899627255984585
 0.5137472641601804
 ⋮
 0.0004933625451912573
 0.05022372772429617
 0.39292989953729507
 5.93809302522125e-5
 0.0182560066797403
 0.6001209367682655
 1.8618958135959827e-5
 0.4114069445560167
 0.09081971197846642
 0.0005579557046858547
 0.34142296132006167
 0.3508895060477146

In [31]:
# we can use python list comprehension also
arr3 = [x^2 for x in arr]

100-element Vector{Float64}:
 0.16671824411028435
 0.12449845408566682
 0.001932973309250436
 0.5102305187708228
 0.03180798828937967
 0.17041177849755373
 0.943977994561773
 0.1550177917286497
 0.5789339238129962
 0.8274838177461684
 0.20196130750105368
 0.052899627255984585
 0.5137472641601804
 ⋮
 0.0004933625451912573
 0.05022372772429617
 0.39292989953729507
 5.93809302522125e-5
 0.0182560066797403
 0.6001209367682655
 1.8618958135959827e-5
 0.4114069445560167
 0.09081971197846642
 0.0005579557046858547
 0.34142296132006167
 0.3508895060477146

In [33]:
length(arr3)

100

In [34]:
isodd(n) = (n % 2 != 0)

isodd (generic function with 1 method)

In [35]:
isodd(20)

false

In [36]:
isodd(9999)

true

In [39]:
2_000 * 5

10000

In [41]:
filter(isodd, round.(Int64, rand(100) * 100))

56-element Vector{Int64}:
 53
 51
 93
 69
 67
 77
 55
 49
 87
 81
 91
 95
 65
  ⋮
 77
 31
  3
 57
 65
 57
 31
 95
  1
  7
 59
 79

In [42]:
filter(n -> n % 2 != 0, round.(Int64, rand(100) * 100))

44-element Vector{Int64}:
 89
 19
 31
 39
 75
 17
 31
 25
 59
 47
  3
 91
 21
  ⋮
 69
 11
 43
 63
 57
  7
 79
 85
  7
 53
  9
 77

In [ ]:
# julia also has reduce and fold functions