In [3]:
import pyspark
import pandas as pd

In [4]:
pd.read_csv("test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("my_study").getOrCreate()
spark

In [17]:
df01 = spark.read.csv("test1.csv", header=True)
df01.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [18]:
df01

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [19]:
type(df01)

pyspark.sql.dataframe.DataFrame

In [20]:
df01.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)